### Get data from yahoo

In [4]:
# ! pip install pandas_datareader

[pandas data reader](https://pandas-datareader.readthedocs.io/en/latest/see-also.html)

[yahoo finance](https://pandas-datareader.readthedocs.io/en/latest/readers/yahoo.html)

In [32]:
from datetime import date
import pandas as pd
import pandas_datareader as pdr

In [33]:
help(pdr)

Help on package pandas_datareader:

NAME
    pandas_datareader

PACKAGE CONTENTS
    _testing
    _utils
    _version
    av (package)
    bankofcanada
    base
    compat (package)
    conftest
    data
    econdb
    enigma
    eurostat
    exceptions
    famafrench
    fred
    iex (package)
    io (package)
    moex
    nasdaq_trader
    naver
    oecd
    quandl
    stooq
    tests (package)
    tiingo
    tsp
    wb
    yahoo (package)

FUNCTIONS
    DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.1, session=None, api_key=None)
        Imports data from a number of online sources.

        Currently supports Google Finance, St. Louis FED (FRED),
        and Kenneth French's data library, among others.

        Parameters
        ----------
        name : str or list of strs
            the name of the dataset. Some data sources (IEX, fred) will
            accept a list of names.
        data_source: {str, None}
            the data source ("iex", "fred", "ff")
        start : string, int, date, datetime, Timestamp
            left boundary for range (defaults to 1/1/2010)
        end : string, int, date, datetime, Timestamp
            right boundary for range (defaults to today)
        retry_count : {int, 3}
            Number of times to retry query request.
        pause : {numeric, 0.001}
            Time, in seconds, to pause between consecutive queries of chunks. If
            single value given for symbol, represents the pause between retries.
        session : Session, default None
            requests.sessions.Session instance to be used
        api_key : (str, None)
            Optional parameter to specify an API key for certain data sources.

        Examples
        ----------
        # Data from Google Finance
        aapl = DataReader("AAPL", "iex")

        # Price and volume data from IEX
        tops = DataReader(["GS", "AAPL"], "iex-tops")
        # Top of book executions from IEX
        gs = DataReader("GS", "iex-last")
        # Real-time depth of book data from IEX
        gs = DataReader("GS", "iex-book")

        # Data from FRED
        vix = DataReader("VIXCLS", "fred")

        # Data from Fama/French
        ff = DataReader("F-F_Research_Data_Factors", "famafrench")
        ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
        ff = DataReader("6_Portfolios_2x3", "famafrench")
        ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")

    Options(symbol, data_source=None, session=None)

    get_components_yahoo = _get_data(idx_sym)
        Returns DataFrame containing list of component information for
        index represented in idx_sym from yahoo. Includes component symbol
        (ticker), exchange, and name.

        Parameters
        ----------
        idx_sym : str
            Stock index symbol
            Examples:
            '^DJI' (Dow Jones Industrial Average)
            '^NYA' (NYSE Composite)
            '^IXIC' (NASDAQ Composite)

            See: http://finance.yahoo.com/indices for other index symbols

        Returns
        -------
        idx_df : DataFrame

    get_dailysummary_iex(*args, **kwargs)
        Returns a summary of daily market volume statistics. Without parameters,
        this will return the most recent trading session by default.

        Parameters
        ----------
        start : string, int, date, datetime, Timestamp
            The beginning of the date range.
        end : string, int, date, datetime, Timestamp
            The end of the date range.

        Reference: https://www.iextrading.com/developer/docs/#historical-daily

        :return: DataFrame

    get_data_alphavantage(*args, **kwargs)

    get_data_enigma(*args, **kwargs)

    get_data_famafrench(*args, **kwargs)

    get_data_fred(*args, **kwargs)

    get_data_moex(*args, **kwargs)

    get_data_quandl(*args, **kwargs)

    get_data_stooq(*args, **kwargs)

    get_data_tiingo(*args, **kwargs)

    get_data_yahoo(*args, **kwargs)

    get_data_yahoo_actions(*args, **kwargs)

    get_iex_book(*args, **kwargs)
        Returns an array of dictionaries with depth of book data from IEX for up to
        10 securities at a time. Returns a dictionary of the bid and ask books.

        Parameters
        ----------
        symbols : str, List[str]
            A string or list of strings of valid tickers
        service : str
            One of:

            - 'book': Live depth of book data
            - 'op-halt-status': Checks to see if the exchange has instituted a halt
            - 'security-event': Denotes individual security related event
            - 'ssr-status': Short Sale Price Test restrictions, per reg 201 of SHO
            - 'system-event': Relays current feed status (i.e. market open)
            - 'trades': Retrieves recent executions, trade size/price and flags
            - 'trade-breaks': Lists execution breaks for the current trading session
            - 'trading-status': Returns status and cause codes for securities

        Returns
        -------
        DataFrame

    get_iex_data_tiingo(*args, **kwargs)

    get_iex_symbols(*args, **kwargs)
        Returns a list of all equity symbols available for trading on IEX. Accepts
        no additional parameters.

        Reference: https://www.iextrading.com/developer/docs/#symbols

        :return: DataFrame

    get_last_iex(*args, **kwargs)

    get_markets_iex(*args, **kwargs)
        Returns near-real time volume data across markets segregated by tape
        and including a percentage of overall volume during the session

        This endpoint does not accept any parameters.

        Reference: https://www.iextrading.com/developer/docs/#markets

        Returns
        -------
        DataFrame

    get_nasdaq_symbols(retry_count=3, timeout=30, pause=None)
        Get the list of all available equity symbols from Nasdaq.

        Returns
        -------
        nasdaq_tickers : pandas.DataFrame
            DataFrame with company tickers, names, and other properties.

    get_quote_yahoo(*args, **kwargs)

    get_recent_iex(*args, **kwargs)
        Returns market volume and trade routing statistics for recent sessions.
        Also reports IEX's relative market share, lit share volume and a boolean
        halfday indicator.

        Reference: https://www.iextrading.com/developer/docs/#recent

        Returns
        -------
        DataFrame

    get_records_iex(*args, **kwargs)
        Returns the record value, record date, recent value, and 30-day average for
        market volume, # of symbols traded, # of routed trades and notional value.
        This function accepts no additional parameters.

        Reference: https://www.iextrading.com/developer/docs/#records

        :return: DataFrame

    get_summary_iex(*args, **kwargs)
        Returns an aggregated monthly summary of market volume and a variety of
        related metrics for trades by lot size, security market cap, and venue.
        In the absence of parameters, this will return month-to-date statistics.
        For ranges spanning multiple months, this will return one row per month.

        start : string, int, date, datetime, Timestamp
            A datetime object - the beginning of the date range.
        end : string, int, date, datetime, Timestamp
            A datetime object - the end of the date range.

        Returns
        -------
        DataFrame

    get_tops_iex(*args, **kwargs)

    test(extra_args=None)
        Run the test suite

        Parameters
        ----------
        extra_args : {str, List[str]}
            A string or list of strings to pass to pytest. Default is
            ["--only-stable", "--skip-requires-api-key"]

DATA
    __all__ = ['__version__', 'get_components_yahoo', 'get_data_enigma', '...

VERSION
    0.10.0

FILE
    c:\programdata\anaconda3\lib\site-packages\pandas_datareader\__init__.py

In [12]:
help(pdr.DataReader)

Help on function DataReader in module pandas_datareader.data:

DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.1, session=None, api_key=None)
    Imports data from a number of online sources.

    Currently supports Google Finance, St. Louis FED (FRED),
    and Kenneth French's data library, among others.

    Parameters
    ----------
    name : str or list of strs
        the name of the dataset. Some data sources (IEX, fred) will
        accept a list of names.
    data_source: {str, None}
        the data source ("iex", "fred", "ff")
    start : string, int, date, datetime, Timestamp
        left boundary for range (defaults to 1/1/2010)
    end : string, int, date, datetime, Timestamp
        right boundary for range (defaults to today)
    retry_count : {int, 3}
        Number of times to retry query request.
    pause : {numeric, 0.001}
        Time, in seconds, to pause between consecutive queries of chunks. If
        single value given for symbol, represents the pause between retries.
    session : Session, default None
        requests.sessions.Session instance to be used
    api_key : (str, None)
        Optional parameter to specify an API key for certain data sources.

    Examples
    ----------
    # Data from Google Finance
    aapl = DataReader("AAPL", "iex")

    # Price and volume data from IEX
    tops = DataReader(["GS", "AAPL"], "iex-tops")
    # Top of book executions from IEX
    gs = DataReader("GS", "iex-last")
    # Real-time depth of book data from IEX
    gs = DataReader("GS", "iex-book")

    # Data from FRED
    vix = DataReader("VIXCLS", "fred")

    # Data from Fama/French
    ff = DataReader("F-F_Research_Data_Factors", "famafrench")
    ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
    ff = DataReader("6_Portfolios_2x3", "famafrench")
    ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")

In [19]:
pdr.DataReader("HDFC.NS", data_source = "yahoo")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-12-14,1710.000000,1682.250000,1705.000000,1704.500000,1996271.0,1587.686157
2017-12-15,1734.550049,1713.050049,1714.000000,1723.000000,2987009.0,1604.918213
2017-12-18,1741.300049,1679.699951,1713.099976,1719.949951,2221752.0,1602.077026
2017-12-19,1725.000000,1704.650024,1722.000000,1709.150024,2431117.0,1592.017212
2017-12-20,1718.349976,1690.000000,1715.949951,1693.699951,2487331.0,1577.626099
...,...,...,...,...,...,...
2022-12-07,2682.949951,2650.000000,2677.100098,2659.850098,2465806.0,2659.850098
2022-12-08,2674.399902,2647.449951,2652.000000,2664.800049,2708472.0,2664.800049
2022-12-09,2682.800049,2656.649902,2672.300049,2672.100098,2556413.0,2672.100098
2022-12-12,2702.000000,2651.100098,2651.100098,2685.750000,3387144.0,2685.750000
2022-12-13,2705.750000,2690.000000,2693.800049,2699.100098,462835.0,2699.100098

In [22]:
import pandas_datareader

In [23]:
data = pandas_datareader.yahoo.daily.YahooDailyReader(symbols='HDFC.NS', start=date(2015,1,1), end=date(2015,1,31))
data

In [24]:
data.read()

                  High         Low        Open       Close  Volume   Adj Close
Date
2015-01-01  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-02  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-05  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-06  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-07  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-08  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-09  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-12  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-13  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-14  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-15  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-16  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-19  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-20  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-21  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-22  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-23  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-27  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-28  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-29  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-30  818.200012  818.200012  818.200012  818.200012       0  730.087036

In [28]:
data.ret_index

False

In [29]:
data.retry_count

3

In [31]:
pdr.DataReader("HDFC.NS", data_source = "yahoo", start=date(2015,1,1), end=date(2015,1,7))

                  High         Low        Open       Close  Volume   Adj Close
Date
2015-01-01  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-02  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-05  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-06  818.200012  818.200012  818.200012  818.200012       0  730.087036
2015-01-07  818.200012  818.200012  818.200012  818.200012       0  730.087036

In [35]:
pdr.DataReader("HDFC.NS", data_source = "yahoo", start=date(2015,1,1), end=date(2015,1,7), retry_count=3, pause=0.1, session=)

                  High         Low        Open       Close  Volume   Adj Close
Date
2015-01-01  818.200012  818.200012  818.200012  818.200012       0  730.086975
2015-01-02  818.200012  818.200012  818.200012  818.200012       0  730.086975
2015-01-05  818.200012  818.200012  818.200012  818.200012       0  730.086975
2015-01-06  818.200012  818.200012  818.200012  818.200012       0  730.086975
2015-01-07  818.200012  818.200012  818.200012  818.200012       0  730.086975

In [20]:
aapl = pdr.DataReader("AAPL", "iex")

ValueError: The IEX Cloud API key must be provided either through the api_key variable or through the  environment variable IEX_API_KEY

In [15]:
import pandas_datareader.data as web

from datetime import datetime

start = datetime(2016, 9, 1)

end = datetime(2018, 9, 1)

f = web.DataReader('F', 'iex', start, end)
f.loc['2018-08-31']

ValueError: The IEX Cloud API key must be provided either through the api_key variable or through the  environment variable IEX_API_KEY

In [16]:
import pandas_datareader.data as web

symbol = 'WIKI/AAPL'  # or 'AAPL.US'

df = web.DataReader(symbol, 'quandl', '2015-01-01', '2015-01-05')

df.loc['2015-01-02']

ValueError: The Quandl API key must be provided either through the api_key variable or through the environmental variable QUANDL_API_KEY.

In [17]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2013, 1, 27)

gdp = web.DataReader('GDP', 'fred', start, end)

gdp.loc['2013-01-01']

GDP    16629.05
Name: 2013-01-01 00:00:00, dtype: float64

In [18]:
gdp

                  GDP
DATE
2010-01-01  14764.611
2010-04-01  14980.193
2010-07-01  15141.605
2010-10-01  15309.471
2011-01-01  15351.444
2011-04-01  15557.535
2011-07-01  15647.681
2011-10-01  15842.267
2012-01-01  16068.824
2012-04-01  16207.130
2012-07-01  16319.540
2012-10-01  16420.386
2013-01-01  16629.050